<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hanggaoDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E70B75731E8E0181003FF31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E70B758C1E8E0182003FF31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E70B75971E8E0182003FF31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
